.proto-user__btn {
  margin-left: 30px;
  li {
    display: inline-block;
    background-color: #333333;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    text-align: center;
    padding: 5px 5px;
    a {
      color: white;
    }
  }
}
